<body>
<div>
  <div class="background">
    <div class="content">
      <div class="right-side">
        <div class="text">
        
          <h1>Bonanza Marketplace</h1>
          <p>Produtos de Melhor Qualidade e sempre Frescos para você..</p>
          <img src="../../../assets/images/organiclogo.png"> 
          <p>Gostou da Oferta? Venha saber Mais</p>
          <button class="custom-button" (click)="scrollToText()">
            <a>Saiba Mais</a>
          </button>
        </div>
        
      </div>
      <br><br><br>       
    </div>
  </div>

  <div class="categorias">
    <h2>Frutas da Estação</h2>
    <p>Oferecemos os Melhores Produtos e Mais Frescos de Toda a Região Brasileira</p>
  <div class="image-blocks">
    <div class="image-block">
      <img src="../../../assets/images/Winterfarmbox600x600_c.jpg" alt="Imagem 1">
      <h3>Vegetable Boxes</h3>
      <p>Sessão escolhida pelas melhores colheitas da fazenda Bonanza</p>
    </div>
    <div class="image-block">
      <img src="../../../assets/images/wdd.jpg" alt="Imagem 2">
      <h3>Our Cheese</h3>
      <p>Temos em disposição queijos preparados por melhores gastronomos da frança</p>
    </div>
    <div class="image-block">
      <img src="../../../assets/images/cd.jpg" alt="Imagem 3">
      <h3>Our Farm</h3>
      <p>Maçãs de melhores qualidades e sem nenhum agrotoxico.</p>
    </div>
  </div>
  </div>

    <div #scrollTarget>
      <p>Descubra as melhores ofertas e ideias no nosso mercado! Aqui, 
        você encontrará uma variedade incrível de produtos de alta qualidade, 
        todos cuidadosamente selecionados para oferecer a você o melhor custo-benefício. 
        Navegue pelas seções e descubra uma infinidade de opções, desde alimentos frescos e saudáveis 
        até eletrônicos de última geração. Nosso objetivo é proporcionar a você uma experiência de compra 
        única, onde você encontrará os melhores produtos e ideias inovadoras para tornar sua vida mais 
        fácil e agradável. Aproveite as promoções exclusivas, as dicas úteis e o atendimento personalizado 
        de nossa equipe. Visite-nos e deixe-se encantar pelas melhores ofertas e ideias do Bonanza Marketplace</p>
        <p>Caso se Interesse Mais Entre em Contato Conocos pelo nosso Whatsapp</p>
        <button class="whatsapp-button" (click)="sendWhatsAppMessage()">Enviar Mensagem</button>



    </div>
</div>
</body>
