.cart {
  max-width: 600px;
  margin: 0 auto;
}

h2, h3 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="number"],
select {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

button.add-button {
  padding: 8px 16px;
  background-color: #4CAF50; /* Verde */
  color: white;
  border: none;
  cursor: pointer;
}

button.add-button:hover {
  background-color: #45a049; /* Tom mais claro de verde */
}

button.edit-button {
  /* Estilos para o botão Editar */
  padding: 8px 16px;
  background-color: orange; /* Laranja */
  color: white;
  border: none;
  cursor: pointer;
}

button.edit-button:hover {
  background-color: darkorange; /* Tom mais escuro de laranja */
}

button.remove-button {
  /* Estilos para o botão Remover */
  padding: 8px 16px;
  background-color: red; /* Vermelho */
  color: white;
  border: none;
  cursor: pointer;
}

button.remove-button:hover {
  background-color: darkred; /* Tom mais escuro de vermelho */
}

.cart-items {
  margin-top: 20px;
}

.cart-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.item-actions {
  text-align: right;
}

.edit-button, .remove-button {
  margin-left: 5px;
}

.total-price {
  font-weight: bold;
}

.stock-message {
  color: red;
}

.edit-form {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
}


