<div class="background">
<div class="cart">
  <h2>Carrinho de Compras</h2>
  <form (submit)="addProductToCart($event)">
    <div class="form-group">
      <label for="category">Categoria</label>
      <select id="category" name="category" [(ngModel)]="newProduct.category_id" (change)="filterProductsByCategory()" required>
        <option value="">Selecione a categoria</option>
        <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.category_gender }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="product">Produtos Disponíveis</label>
      <select [(ngModel)]="newProduct.selectedProduct" name="selectedProduct">
        <optgroup *ngFor="let group of filteredProducts" [label]="group.category">
          <option *ngFor="let product of group.products" [ngValue]="product.product_name" [disabled]="isProductInCart(product.product_name)">
            {{ product.product_name }}
          </option>
        </optgroup>
      </select>
    </div>

    <div class="form-group">
      <label for="new-quantity">Quantidade</label>
      <input type="number" id="new-quantity" name="new-quantity" [(ngModel)]="newProduct.quantity" required>
      <p *ngIf="!newProduct.quantity" class="quantity-error">A quantidade precisa ser preenchida.</p>
    </div>
    
    <button class="add-button" type="submit">Adicionar ao Carrinho</button>
    <p *ngIf="stockMessage" class="stock-message">{{ stockMessage }}</p>
  </form>

  <h3>Itens no Carrinho</h3>
  <div class="cart-items">
    <div *ngFor="let product of cartItems" class="cart-item">
      <div class="item-actions">
        <button class="edit-button" (click)="showEditForm(product)">Editar</button>
        <button class="remove-button" (click)="removeItemFromCart(product.id)">Remover</button>
      </div>
      <p class="product-name">{{ product.product_name }}</p>
      <p class="product-category">{{ getCategoryName(product.category_id) }}</p>
    </div>    
  </div>
  
  <!-- Formulário de edição -->
  <div class="edit-form" *ngIf="showEditFormFlag">
    <h3>Editar Produto</h3>
    <form (submit)="editProduct()">
      <!-- Campos do formulário de edição -->
      <div class="form-group">
        <label for="edit-category">Categoria</label>
        <select id="edit-category" name="edit-category" [(ngModel)]="editedProduct.selectedCategory" disabled required>
          <option [value]="editedProduct.category_id">{{ getCategoryName(editedProduct.category_id) }}</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="edit-product">Produtos Disponíveis</label>
        <select id="edit-product" name="edit-product" [(ngModel)]="editedProduct.selectedProduct" required>
          <ng-container *ngFor="let group of filteredProductsEditForm">
            <optgroup [label]="group.category">
              <option *ngFor="let product of group.products" [value]="product.product_name" [disabled]="isProductInCart(product.product_name)">
                {{ product.product_name }}
              </option>
            </optgroup>
          </ng-container>
        </select>
      </div>
      
      <div class="form-group">
        <label for="edit-quantity">Quantidade</label>
        <input type="number" id="edit-quantity" name="edit-quantity" [(ngModel)]="editedProduct.stock_quantity" required>
      </div>

      <button class="add-button" type="submit">Atualizar</button>
    </form>
  </div>
</div>
