html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.background {
  background-image: url('../../../assets/images/macas.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.right-side {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
h1{
  font-size: 1.2cm;
}
p{
  font-size: 0.50cm;
}

.text {
  margin-right: 20px; /* Espaçamento entre o texto e a imagem */
}
.custom-button {
  background-color: red; /* Define a cor de fundo do botão como vermelho */
  color: white; /* Define a cor do texto como branco */
  padding: 10px 20px; /* Adiciona um espaçamento interno ao botão */
  border: none; /* Remove a borda do botão */
  cursor: pointer; /* Altera o cursor para indicar que o botão é clicável */
}

.custom-button a {
  color: white; /* Define a cor do texto dentro do botão como branco */
  text-decoration: none; /* Remove a sublinhado do link */
}

.categorias h2 {
  font-family: "Arial", sans-serif; /* Exemplo de fonte Arial */
  font-size: 24px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  text-transform: uppercase; /* Transformação para letras maiúsculas */
  margin-bottom: 10px; /* Espaçamento inferior */
  text-align: center;
}

.categorias p {
  font-family: "Times New Roman", serif; /* Exemplo de fonte Times New Roman */
  font-size: 16px; /* Tamanho da fonte */
  font-style: italic; /* Itálico */
  margin-bottom: 20px; /* Espaçamento inferior */
  text-align: center;
}



.image-blocks {
  display: flex;
  justify-content: space-between;
}

.image-block {
  position: relative;
  flex-basis: 30%;
  text-align: center;
}

.image-block img {
  width: 80%;
  height: auto;
  max-height: 250px;
}

.image-block h3,
.image-block p {
  position: relative;
  top: -30px;
  background-color: rgba(37, 223, 236, 0.8);
  padding: 10px;
  margin: 0;
  width: 80%;
  margin: 0 auto;
}

#scrollTarget {
  text-align: center; /* Alinhar conteúdo ao centro */
}



#scrollTarget p {
  font-family: "Arial", sans-serif; /* Fonte amigável */
  font-size: 16px; /* Tamanho da fonte */
  font-weight: normal; /* Remover negrito */
  margin-bottom: 20px; /* Espaçamento inferior */
}


.whatsapp-button {
  background-color: #25D366;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.whatsapp-button:hover {
  background-color: #128C7E;
}




