<div class="client-divulgence">
    <h2>Nossos Clientes Revendedores</h2>
    <ul class="client-list">
      <li>
        <img src="../../../assets/images/famoso1.jpg" alt="Cliente 1">
        <h3>Cliente 1</h3>
        <p>"O mercado oferece uma grande variedade de produtos frescos e de qualidade,
           sempre encontrando o que preciso para as minhas compras do dia a dia."</p>
      </li>
      <li>
        <img src="../../../assets/images/famoso2.jpg" alt="Cliente 2">
        <h3>Cliente 2</h3>
        <p>"O atendimento no mercado é excelente, os funcionários são prestativos
            e estão sempre dispostos a ajudar, proporcionando uma experiência de compra muito satisfatória."</p>
      </li>
      <li>
        <img src="../../../assets/images/famoso3.jpg" alt="Cliente 3">
        <h3>Cliente 3</h3>
        <p>"Os preços no mercado são competitivos e justos, garantindo
           que eu possa fazer minhas compras com economia e sem comprometer a qualidade dos produtos."</p>
      </li>
      <!-- Adicione mais clientes aqui -->
    </ul>
    <div>
      <h2>Venha ser um dos nossos revendedores</h2>
      <p>Basta apenas Preencher e Fazer o Envio do Formulário</p>
      <form (ngSubmit)="sendEmail()">
        <div>
          <label for="senderEmail">Seu Email:</label>
          <input type="email" id="senderEmail" name="senderEmail" [(ngModel)]="senderEmail" required>
        </div>
        <div>
          <label for="recipientEmail">Destinatário:</label>
          <input type="email" id="recipientEmail" name="recipientEmail" value="ellen.samanta@outlook.com" disabled>
        </div>
        <div>
          <label for="subject">Assunto:</label>
          <input type="text" id="subject" name="subject" [(ngModel)]="subject" required>
        </div>
        <div>
          <label for="message">Mensagem:</label>
          <textarea id="message" name="message" [(ngModel)]="message" rows="4" required></textarea>
        </div>
        <button type="submit">Enviar</button>
      </form>
      
    </div>
  </div>
  